html{
    width: 1080px;
}

/* body{
    margin: 0;
} */

header{
    height: 100px;;
    background-color: #4da1ff;
    background-image: url(../img/pattern.png);
    background-size: 37%;
    background-repeat: repeat;
    background-position-x: 215%;

}

.logo{
    height: 45%;
    margin-top: 50px;
}

h1{
    margin-bottom: 0px;
}

.credits{
    margin-top: 0px;
    color: #818181;
    font-weight: 700;
    margin-bottom: 10px;
}

.user{
    color: #1aaae6;
    text-decoration: none;
}

figure{
    margin: 0px;
}

.highlightd{
    background-color: yellow;
}

ul{
    padding-left: 20px;
}

table{
    border-collapse: collapse;
    width: 1060px;
}

thead{
    background-color: #1aaae6;
}

th{
    border: 0px;
    text-align: left;
    color: white;
}

.widthcell{
    width: 25%;
}

.lightblue{
    background-color: #b2e6f2;
}

.maylike{
    padding-top: 5px;
    padding-left: 8px;
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 156px;
    width: 234px;
}

.maylike1{
    background-image: url(../img/monitor.jpg);
    background-size: 90%;
    background-repeat: no-repeat;
}

.maylike2{
    background-image: url(../img/graph.jpg);
    background-size: 90%;
    background-repeat: no-repeat;

   }