html{
    width: 1080px;
}

header{
    height: 100px;;
    background-color: #4da1ff;
    background-image: url(../img/pattern.png);
    background-size: 37%;
    background-repeat: repeat;
    background-position-x: 215%;
}

.logo{
    height: 45%;
    margin-top: 50px;
}

h1{
    margin-bottom: 0px;
}

.credits{
    margin-top: 0px;
    color: #818181;
    font-weight: 700;
    margin-bottom: 10px;
}

.user{
    color: #1aaae6;
    text-decoration: none;
}

figure{
    margin: 0px;
}

.highlightd{
    background-color: yellow;
}

ul{
    padding-left: 20px;
}